.menu-button > .arrow-button {
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-size: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-size: 0;
}
